<!DOCTYPE html>
   <html>
    <head>
        <title>Routing Demo</title>
         
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/design.css">
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-route/angular-route.min.js"></script>
        <script src="../app.js"></script>
        <script src="../factory/datafactory.js"></script>
        <script src="../controller/appcontroller.js"></script>
      
       <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        
        <script src="../controller/datacontroller.js"></script>
      
        <script src="../routing/routes.js"></script>
      
        
    </head>
    <body ng-app="myapp">
      <h1>Test CODE</h1>
      <div class="container">
       <div ng-controller="appcontroller"  >
          <div class="row">
           <div col="col-lg-12 col-md-12  ">
            <form   ng-submit="submitTheForm()">
              
                  <div class="col-xs-2">
        <label for="ex3">USER ID</label>
        <input class="form-control" type="text"  name="userId" ng-model="formData.userId" required>
      </div>
            <div class="col-xs-2">
        <label for="ex3">ID</label>
        <input class="form-control" type="text"  name="id" ng-model="formData.id" required>
      </div>
            <div class="col-xs-2">
        <label for="ex3">TITLE</label>
        <input class="form-control" type="text" name="title" ng-model="formData.title" required>
      </div>
           <div class="col-xs-2">
        <label for="ex3">BODY</label>
        <input class="form-control" type="text" name="body" ng-model="formData.body" required>
      <input type="hidden" ng-model="formData.name" ng-value="formData.name='posts'" required>
      </div>
                <button type="submit" class="btn btn-danger">SUBMIT</button>       
            </form>
            
              </div></div></div>
            <section><div class="container">
                <div class="row">
                    <div class="col-lg-12 itemsbutton"> <ul>
                  
                    <li role="presentation" class="active"> <a class="btn btn-primary btn-lg" role="button"ng-href="#/post/posts">POST</a></li>
                  
                  <li role="presentation" class="active"> <a class="btn btn-primary btn-lg" role="button"ng-href="#/comment/comments">COMMENT</a></li>
                    
               </ul> </div>
                </div></div>
            </section>
      
       <div class="row"><div ng-view></div></div>
            
        
        
                </div>
    </body>
</html>